.section_add{
    /* color: var(--colorFondo); */
    display: flex;
   
    padding: 1em;
    background-color: var(--colorFondo);
    
}


.container_add{
    padding-bottom: 1em;
    

}

.img_add{
    width: 50%;
    
    padding: 1em;
    
}

.parrafos_add{
    width: 50%;
    font-size:1.3vw;
   display: flex;
   flex-direction: column;
   justify-content: center;

    
}

.add_imag{
    width: 100%;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(15, 15, 15)); */
}
.parrafo_add{
    padding: 0 2em 0 2em;
    word-spacing: 10px;
    

}
.par_add{
    background-color: var(--colorFondo);
    padding: 2em;
    /* box-shadow: 0 0 10px rgba(16, 15, 15, 0.993); */
    text-align:justify ;
   
}

.letter_add{
    font-family: "Brush Script MT", "Brush Script Std", "cursive";
    font-size:2.6vw;
    color: var(--colorRed);
    font-weight: bolder;
    

}



@media(max-width:800px){
    .section_add{
        /* color: var(--colorFondo); */
        display: flex;
        flex-direction: column;
        
    
    }
}