.seccion_hsq{
    padding: 30px;
}



.section_title_hsq{
    color: var(--colorFondo);
    z-index: 10;
}


.container_hsq{
    box-shadow: 0 0.5rem 1rem rgba(242, 240, 240, 0.993);
    background-color: var(--colorBeige);
    
    
}
.section_title_hsq{
    background-color: #D71212  ;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.3em;
    text-shadow: 10px 4px 10px rgba(214, 207, 207, 0.5); 
    

}
.section_hsq_im{
    
    width: 100%; 
    display: flex;
    flex-wrap: wrap;

    gap: 2em;
    padding: 10px;
    text-align: center;
    justify-content: center;


    


}

.section_imag_hsq{
   
    width: 30%;
    border-radius:5px ;
    --colorBeige:rgb(213, 213, 211); 
    box-shadow: 0 0 10px rgba(184, 178, 178, 0.993);
    
}

.imag-section_hsq{
   /* width: 70%; */
   padding: 10px;
   
}


.parrafo_news_hsq{
    /* width: 70%; */
    padding: 1em ;
    font-size: 0.8em;
    text-align: justify;
}

.text_ver_hsq{
    color: #D71212;
}

.title_sec_imag_hsq{
    
    
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;
    font-size: 0.8rem;
    font-weight: bolder;
}

@media(max-width:1000px){
    .title_sec_imag_hsq{
        font-size: 0.8em;
    }
  
  }