.seccion_mess2{
    padding-bottom: 30px;
    position: relative;
    
}





.container_msj2{
    box-shadow: 0 0.5rem 0.1rem rgba(242, 240, 240, 0.993);
    background-color: var(--colorBeige);
    
    
}

.section_msj_im2{
    
    /* width: 100%; 
    display: flex;
    flex-wrap: wrap;

    gap: 2em;
    padding: 10px;
    text-align: center;
    justify-content: center; */


    


}

.section_msj2{
   display: flex;
    /* width: 30%; */
    border-radius:5px ;
    --colorBeige:rgb(213, 213, 211); 
    box-shadow: 0 0 10px rgba(184, 178, 178, 0.993);
    
}
.cont_img2{
    width: 70%;
    padding: 40px;
    
}
.imag-msj2{
   
   width: 100%;
}



.parrafo_msj2{
    /* width: 70%; */
    padding: 1em ;
    font-size:2.5vw;
    /* text-align: justify; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-weight: bolder; */
    width: 50%;
    padding: 2em 0 1em 0;

}

.title_msj2{
    color: var(--colorRed);
    display: flex;
    
    text-shadow: 10px 4px 10px rgba(22, 16, 16, 0.5); 
    /* padding-bottom: 1em; */
    width: 100%;
    /* font-family: "Lucida Console", "Courier New", monospace; */
    padding: 0 1em 1em 1.2em;
    
    display: flex;
    justify-content: left;
}

.text_msj2{
    display: flex;
    justify-content: left;
    /* background-color: aliceblue; */
    font-size:2.0vw;
    color: #333; /* color del texto */
/* margin: 2em auto; */
overflow: hidden;
padding: 1em 2.5em 1em 1em;
position: relative;
width: 80%; /* ancho del post*/
height: 70%;
background:#ccc;/* color del post */
font-family: "Brush Script MT", "Brush Script Std", "cursive";

}


.text_msj2:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 40px 40px 0;
    border-style:solid;
    border-color:#fff #fff #333 #000;/* color borde y pestaña */
    background:658E15;
    /* sombra pestaña opcional*/
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
    box-shadow:0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
    }
@media(max-width:800px){
    .section_msj2{
        display: flex;
         flex-wrap: wrap;
         justify-content: center;
         
     }
     .parrafo_msj2{
      
        font-size:3.2vw;       
        padding: 0.8em 0 1em 0;
    
    }
    .text_msj2{
       
        font-size:3vw;
        width: 100%; /* ancho del post*/
        height: 80%;
        
    
    }
  
  }